<section id="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="div-form" style="/*padding: 0px 50px 0px 50px;*/padding-bottom: 0px;">
                    <div class="header-tabeldiv">
                        <div class="row mb-3">
                            <div class="col-9">
                                <h2 class="text-capitalize fw-bold m-0 heading-judul">Rekap Penjualan Customer</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card dashboard">
                        <div class="card-body">
                            <div class="row mt-2">
                                <div class="col-2">
                                    <div class="p-2" style="padding-bottom: 10px!important;">
                                        <form class="form-horizontal ng-untouched ng-pristine ng-invalid">
                                            <div class="form-group mb-3"><label class="form-label f-label" for="email">Periode</label>
                                                <div class="input-group"><input class="form-control" name="month" type="month" [ngModel] ="month | date:'yyyy-MM'" (ngModelChange)="month = $event" [ngModelOptions]="{standalone: true}" (change)="getItem()"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-2" style="border-bottom-color: #2e2e2e;">
                                    <div class="p-2">
                                        <div class="form-group mb-3">
                                            <label class="form-label f-label" for="email">Customer</label>
                                            <select class="form-control" style="width: 100%;" (change)="getItemCust($event.target.value)">
                                                <option value="" selected>Select Customer</option>
                                                <option *ngFor="let customer of namaCustomer" [value]="customer">{{ customer }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8 m-auto">
                                    <div class="form-group mb-0" style="margin-top: 1.4rem;">
                                        <div class="input-group d-lg-flex d-xl-flex justify-content-lg-end justify-content-xl-end justify-content-xxl-end">
                                            <div class="input-group-text" style="padding: 0px;">
                                                <div class="btn-group" role="group"><button class="btn btn-primary text-capitalize filter2 active" type="button">Tampilkan&nbsp;</button><button class="btn btn-primary text-capitalize filter2" type="button">Excel</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <hr><div class="table-responsive">
<table class="table table-hover table-bordered" >
    <thead style="background: #009aad; color: white">
        <tr align="center">
            <th rowspan="2" class='align-middle'>No</th>
            <th rowspan="2" class='align-middle'>Customer</th>
            <th colspan="31" class='text-center'>Periode: {{ month | date: 'MMMM yyyy' }}</th>
            <th rowspan="2" colspan="2" class='align-middle'>Total</th>
        </tr>
        <tr align="center" style="font-size: 13px">
            <th class='no-tr' *ngFor="let i of date">{{ i }}</th>
        </tr>
    </thead>
    <tbody *ngIf="data">
        <tr style="background:#fbfbfb">
            <td class="tabel-periode" colspan="2" style="font-weight: 700">GRAND TOTAL</td>
            <td style="font-weight: 700" align="right" *ngFor="let i of date">{{ grandTotal[i] | currency:'':'':'0.0-0'}}</td>
            <td colspan="2" align="right" style="font-weight: 700">{{ totalCustomer  | currency: 'Rp. '}}</td>
        </tr>
        <ng-container>
            <tr *ngFor="let cust of listCustomer, index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ cust.nama }}</td>
                <th align="right" *ngFor="let i of date">{{ cust.tanggal[i - 1] | currency:'':'':'0.0-0'}}</th>
                <td align="right">{{ cust.total | currency: 'Rp. '}}</td>
            </tr>
        </ng-container>
    </tbody>
    <tfoot *ngIf="!data">
        <tr align="center">
            <th colspan="33" class='text-center'>Data not found</th>
        </tr>
    </tfoot>
</table>
</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>