<section id="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="div-form" style="/*padding: 0px 50px 0px 50px;*/padding-bottom: 0px;">
                    <div class="header-tabeldiv">
                        <div class="row mb-3">
                            <div class="col-9">
                                <h2 class="text-capitalize fw-bold m-0 heading-judul">Rekap Penjualan Menu</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card dashboard">
                        <div class="card-body">
                            <div class="row mt-2">
                                <div class="col-8">
                                    <div class="p-2" style="padding-bottom: 10px!important;">
                                        <form class="form-horizontal ng-untouched ng-pristine ng-invalid">
                                            <div class="form-group mb-3" style="width: 50%;"><label class="form-label f-label" for="email">Periode</label>
                                                <div class="input-group" style="width: 77%;">
                                                    <input class="form-control" name="month" type="month" [ngModel] ="month | date:'yyyy-MM'" (ngModelChange)="month = $event" [ngModelOptions]="{standalone: true}" (change)="getItem()"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-4 text-end d-lg-flex d-xl-flex d-xxl-flex justify-content-lg-end justify-content-xl-end justify-content-xxl-end" style="border-bottom-color: #2e2e2e;">
                                    <div class="form-group mb-3"><label class="form-label f-label" for="email">Kategori</label>
                                        <div class="input-group">
                                            <div class="input-group-text" style="padding: 0px;">
                                                <div class="btn-group" role="group">
                                                    <button class="btn btn-primary filter" type="button" (click)="mode = 'all'">All</button>
                                                    <button class="btn btn-primary filter" type="button" (click)="mode = 'food'">Makanan</button>
                                                    <button class="btn btn-primary filter" type="button" (click)="mode = 'drink'">Minuman</button>
                                                    <button class="btn btn-primary filter" type="button" (click)="mode = 'snack'">Snack</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-xl-flex d-xxl-flex m-auto justify-content-xl-center justify-content-xxl-center">
                                    <div class="form-group mb-0">
                                        <div class="input-group d-lg-flex d-xxl-flex justify-content-lg-center justify-content-xxl-start">
                                            <div class="input-group-text" style="padding: 0px;">
                                                <div class="btn-group" role="group">
                                                    <button class="btn btn-primary text-capitalize filter2 active" type="button">Tampilkan&nbsp;</button>
                                                    <button class="btn btn-primary text-capitalize filter2" type="button" (click)="consol(month)">Excel</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <hr><div class="table-responsive">
<table class="table table-hover table-bordered" >
    <thead style="background: #009aad; color: white">
        <tr align="center">
            <th rowspan="2" class='align-middle'>Menu</th>
            <th colspan="31" class='text-center'>Periode: {{ month | date: 'MMMM yyyy' }}</th>
            <th rowspan="2" class='align-middle'>Total</th>
        </tr>
        <tr align="center" style="font-size: 13px">
            <th class='no-tr' *ngFor="let i of date">{{ i }}</th>
        </tr>
    </thead>
    <tbody *ngIf="data">
        <tr style="background:#fbfbfb" *ngIf="mode == 'all'">
            <td class="tabel-periode" style="font-weight: 700">GRAND TOTAL</td>
            <td style="font-weight: 700" align="right" *ngFor="let i of date">{{ grandTotal[i] | currency:'':'':'0.0-0'}}</td>
            <td align="right" style="font-weight: 700">{{ sum(grandTotal) | currency: 'Rp. '}}</td>
        </tr>
        <tr style="background:#fbfbfb" *ngIf="mode == 'food'">
            <td class="tabel-periode" style="font-weight: 700">GRAND TOTAL</td>
            <td style="font-weight: 700" align="right" *ngFor="let i of date">{{ grandTotal.food[i] | currency:'':'':'0.0-0'}}</td>
            <td align="right" style="font-weight: 700">{{ sum(grandTotal.food) | currency: 'Rp. '}}</td>
        </tr>
        <tr style="background:#fbfbfb" *ngIf="mode == 'drink'">
            <td class="tabel-periode" style="font-weight: 700">GRAND TOTAL</td>
            <td style="font-weight: 700" align="right" *ngFor="let i of date">{{ grandTotal.drink[i] | currency:'':'':'0.0-0'}}</td>
            <td align="right" style="font-weight: 700">{{ sum(grandTotal.drink) | currency: 'Rp. '}}</td>
        </tr>
        <tr style="background:#fbfbfb" *ngIf="mode == 'snack'">
            <td class="tabel-periode" style="font-weight: 700">GRAND TOTAL</td>
            <td style="font-weight: 700" align="right" *ngFor="let i of date">{{ grandTotal.snack[i] | currency:'':'':'0.0-0'}}</td>
            <td align="right" style="font-weight: 700">{{ sum(grandTotal.snack) | currency: 'Rp. '}}</td>
        </tr>
        <ng-container *ngIf="mode == 'all' || mode == 'food'">
        <tr style="background:#eee; color:#2e2e2e">
            <td colspan="33" class="tabel-penjualanperiode" >Food</td>
        </tr>
        <tr *ngFor="let food of listFood">
            <td>{{ food.nama }}</td>
            <th align="right" *ngFor="let i of date">{{ food.tanggal[i - 1] | currency:'':'':'0.0-0'}}</th>
            <td align="right">{{ food.total | currency: 'Rp. '}}</td>
        </tr>
        <tr style='background: #fbfbfb'>
            <td class="tabel-periode">Total Food</td>
            <td colspan="31"></td>
            <td align="right" style='font-weight: 800'>{{ totalFood  | currency: 'Rp. '}}</td>
        </tr>
        </ng-container>
        <ng-container *ngIf="mode == 'all' || mode == 'drink'">
        <tr style="background:#eee; color:#2e2e2e">
            <td colspan="33" class="tabel-penjualanperiode">Drink</td>
        </tr>
        <tr *ngFor="let Drink of listDrink">
            <td>{{ Drink.nama }}</td>
            <th align="right" *ngFor="let i of date">{{ Drink.tanggal[i - 1] | currency:'':'':'0.0-0'}}</th>
            <td align="right">{{ Drink.total | currency: 'Rp. '}}</td>
        </tr>
        <tr style='background: #fbfbfb'>
            <td class="tabel-periode">Total Drink</td>
            <td colspan="31"></td>
            <td align="right" style='font-weight: 800'>{{ totalDrink | currency: 'Rp. ' }}</td>
        </tr>
        </ng-container>
        <ng-container *ngIf="mode == 'all' || mode == 'snack'">
        <tr style="background:#eee; color:#2e2e2e">
            <td colspan="33" class="tabel-penjualanperiode">Snack</td>
        </tr>
        <tr *ngFor="let Snack of listSnack">
            <td>{{ Snack.nama }}</td>
            <th align="right" *ngFor="let i of date">{{ Snack.tanggal[i - 1] | currency:'':'':'0.0-0'}}</th>
            <td align="right">{{ Snack.total | currency: 'Rp. '}}</td>
        </tr>
        <tr style='background: #fbfbfb'>
            <td class="tabel-periode">Total Snack</td>
            <td colspan="31"></td>
            <td align="right" style='font-weight: 800'>{{ totalSnack | currency: 'Rp. ' }}</td>
        </tr>
        </ng-container>
    </tbody>
    <tfoot *ngIf="!data">
        <tr align="center">
            <th colspan="33" class='text-center'>Data not found</th>
        </tr>
    </tfoot>
</table>
</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>